.App {
    text-align: center;
}

.App-header {
    min-height: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(12px + 2vmin);
    color: white;
}

.App-link {
    color: deepskyblue;
    text-decoration: none;
}

